
@{
    ViewBag.Title = "SteamAPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/SteamAPI/css")
@Scripts.Render("~/Content/SteamAPI/js")

<div>
    <h2>Steam Profile</h2>
    <div id="ProfileSearchWrapper">
        <input id="profileSearch" type="text" />
        <span id="profileSearchSubmit" class="submitButton" onclick="getSteamProfileByVanityUrl()">Submit</span>
    </div>
    <div id="profileInfoWrapper">

    </div>
</div>
<div>
    <h2>Steam Apps</h2>
    <div id="getAppListWrapper">
        <span id="getAppListSubmit" class="submitButton" onclick="getSteamApps()">Submit</span>
    </div>
    <div id="appListPartialWrapper">

    </div>
</div>
<script>
    
</script>

