@model RestAPItest.Models.SteamAppVm

@foreach (var app in Model.SteamApps)
{
    <div class="">
        <span class="">
            @app.AppId
        </span>
        <span class="">
            @app.Name
        </span>
    </div>
}